:root {
  --main-colour: #001233;
  --pri-colour: #31393c;
  --sec-colour: #e9ecef;

  --bg-colour: #f8f9fa;

  --accent-colour: #3c6e71;
  --pri-text: #e5e5e5;
  --sec-text: #11151c;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* General styles */
body {
  font-family: "Nunito Sans", sans-serif;
  font-size: 16px;
}

h1 {
  text-align: center;
  text-transform: uppercase;
  font-size: 2em;
  font-weight: 800;
  margin: 1em 0;
}

/* Main */
main {
  background-color: var(--bg-colour);
  margin: 0 auto;
  padding: 0 1em 2em 1em;
}

h2 {
  margin-bottom: 0.7em;
}

small {
  color: red;
}

/* Form styles */
form {
  display: flex;
  flex-direction: column;
}

legend,
input,
label,
textarea {
  font-family: inherit;
}

input,
textarea,
fieldset {
  margin-bottom: 1em;
}

/* Input */
input {
  padding: 10px;
  background-color: var(--sec-colour);
  color: var(--main-colour);
  border: none;
  font-weight: 400;
}
input:focus,
textarea:focus {
  outline: 2px solid var(--main-colour);
}

label {
  font-weight: 700;
}

/* Styles for gender */
legend {
  font-weight: 700;
}

label[for="gender-male"],
label[for="gender-female"] {
  font-weight: 400;
  background-color: var(--sec-colour);
  width: 100%;
  padding: 5px 60% 0 10px;
  display: flex;
  justify-content: space-between;
}

fieldset {
  border: none;
  display: flex;
  flex-direction: column;
}

fieldset label {
  width: fit-content;
}

/* Textarea */
textarea {
  padding: 10px;
  border: none;
  background-color: var(--sec-colour);
}

button {
  width: 100%;
  align-self: center;
  padding: 15px;
  border: none;
  border-radius: 10px;
  color: var(--pri-text);
  background-color: var(--sec-text);
  border: 2px solid var(--sec-text);
  text-transform: uppercase;
  font-size: 1em;
  font-weight: 700;
  transition: all 0.2s ease;
}
button:hover {
  background-color: var(--pri-text);
  color: var(--sec-text);
  border: 2px solid var(--sec-text);
  cursor: pointer;
}

/* CSS to initially hide the success card */
.hidden {
  display: none;
}

/* Additional CSS for the success card styling */
#success-card {
  width: 75%;
  max-width: 350px;
  margin: 0 auto;
  padding: 2em;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 20px;
  text-align: center;
  background-color: var(--accent-colour);
  color: var(--pri-text);
  font-weight: 700;
}

#success-card img {
  width: 65px;
  height: 65px;
  display: block;
  margin: 0 auto;
  fill: var(--main-colour);
}

#success-card h3 {
  margin: 0.25em 0;
  font-weight: 800;
  font-size: 2em;
}

/* Tablet, big screen and horizontal view */
@media (min-width: 410px) {
  main {
    max-width: 90%;
  }

  button {
    max-width: 70%;
  }
}

/* Desktop */
@media (min-width: 767px) {
  main {
    max-width: 80%;
  }

  button {
    max-width: 70%;
  }
}

/* Large screen */
@media (min-width: 1024px) {
  main {
    max-width: 50%;
  }

  button {
    max-width: 70%;
  }
}
